.slider{
	position:relative;
	height:320px !important;
	margin-bottom:40px;

	.slick-slider{
		height:320px !important;

		.slick-list{
			height:320px !important;
			padding:0;

			.slick-track{
				height:320px;

				.slick-slide{
					width:320px !important;
					height:320px !important;

					div{
						width:320px !important;
						height:320px !important;
					}
					div[tabindex="-1"]{
						display:flex !important;
						justify-content: center;
						align-items:center;
					}

					&:before{
						content: ' ';
						width:69px;
						height:69px;
						border:3px solid #0fd65a;
						background:black;
						border-radius:100%;
						position: absolute;
					    top: 50%;
					    left: 50%;
					    transform: translate(-50%, -50%);
					    opacity:0;
					}
					&:after{
						content: ' ';
						width:29px;
						height:35px;
						position: absolute;
					    top: 50%;
					    left: 50%;
					    transform: translate(-50%, -50%);
					    opacity:0;
					}
				}
				.slick-active{
					position:relative;
				}
				.slick-slide.slick-active{

					&:before{
						opacity:1;
						transition:opacity .7s ease;
					}
					&:after{
						opacity:1;
						transition:opacity 1s ease;
					}
				}
				
			}
		
			
		}
	}
	

}