.slider{
	position:relative;
	height:320px !important;

	.slick-slider{
		height:320px !important;

		.slick-list{
			height:320px !important;
			padding:0;

			.slick-track{
				height:320px;

				.slick-slide{
					width:320px !important;
					height:320px !important;

					div{
						width:320px !important;
						height:320px !important;
					}
					div[tabindex="-1"]{
						display:flex !important;
						justify-content: center;
						align-items:center;
					}
				}
			}
		
			
		}
	}
	

}