.tunes-transition{
	top:130px !important;
	bottom:0;
	padding:60px;
	z-index:3;
	transition:top 1s ;
}
.tunes-transition-before-end{
	padding:60px;
}

.tunes{
	background-color:white;
	height:auto;
	max-height:100%;
	position:absolute;
	left:0;
	top:calc(100% - 90px);
	right:0;
	overflow:hidden;
	transition:top 1s;

	.next{
		height:90px;

		.action{
			width:90px;
		}
	}
	.tunesList-container{
		position:relative;
		width:100%;
		overflow:hidden;

		.tunesList{
			height:680px;
			width:calc(100% + 18px);
			margin:0;
			padding:0;

			overflow-y:scroll;
			overflow-x:hidden;
			
			li{
				line-height:1;
				margin-bottom:40px;
				font-size:24px;
				font-family:'Source Sans Pro';
				
				&:last-child{
					margin-bottom:200px;
				}
				.counter{
					display:inline-block;
					width:38px;
					font-size:18px;
					color:#9a9b9b;
				}
				.title{
					font-weight:normal;
					margin:0 10px 0 0;
					text-align:left;
					width:100%;
					background-image: linear-gradient(to right, #333 10%, rgba(255, 255, 255, 0) 0%);
					background-position: bottom;
					background-size: 10px 1px;
					background-repeat: repeat-x;
					
					.title-span{
						display:inline-block;
						padding-right:10px;
						background-color:white;
						position:relative;
						bottom:-3px;
					}
				}
				.time{
					display:flex;
					align-items:flex-end;
					position:relative;
					bottom:-3px;
					color:#9a9b9b;
				}

			}
			
		}
	}	
	.options{
		position:absolute;
		left:0;
		right:0;
		bottom:0;
		height:165px;
		padding:0 60px 0 60px;
		background-color:white;
		box-shadow:0 0 300px white,0 0 300px white,0 0 300px white, 0 0 300px white,0 0 300px white,0 0 300px white,0 0 300px white;

		.shuffle{
			background-color:#0fd65a;
			color:white;
			text-transform:uppercase;
			font-size:20px;
			font-family:'Source Sans Pro'; 
			height:60px;
			margin-top:30px;
			border-radius:50px; 
		}
		.hide{
			margin-top:30px;
			
			img{
				height:16px;
				width:32px;
			}
		}
	}
}