.upperMenu{
	position:relative;
	z-index:4;
	height:130px;

	.button{
		width:100px;
		height:100%;
		position:relative;
		z-index:3;
		display:flex;
		justify-content: center;
		align-items: center;

		.arrow-left, .more-icon, .missingIco{
			width:30px;
			height:30px;
		}
		.missingIco{
			display:flex;
			justify-content: center;
			align-items:center;

			div{
				background-color:#f4f5f4;
				width:4px;
				height:4px;
				border-radius:100%;
				
				&:before{
					content:' ';
					background-color:#f4f5f4;
					width:4px;
					height:4px;
					border-radius:100%;
					display:block;
					position:relative;
					top:-13px;
				}
				&:after{
					content:' ';
					background-color:#f4f5f4;
					width:4px;
					height:4px;
					border-radius:100%;
					display:block;
					position:relative;
					bottom:-9px;
				}
			}

		}
	}
	.meta{
			font-family:'Source Sans Pro', sans-serif;
			font-weight:normal;
			
		.album{
			font-size:18px;
			text-transform:uppercase;
			color:#9a9b9b;
		}
		.isReleased{
			font-size:24px;
			color:#fff;
			

		}
	}
	.meta-container{
		margin:0;
		text-align:left;
		position:relative;
		left:-75px;

		.title{
			font-size:24px;
		}
	}
	.play-button{
		width:64px;
		height:64px;
		position:relative;
		left:-64px;

		img{
			max-width:100%;
		}
		.play-button-img.play-active{
			border-radius:100%;
			box-shadow:0 0 10px rgba(255,255,255,0.2);
			transition:box-shadow .4s ease;
		}
	}
	
}