.upperMenu{
	position:relative;
	z-index:2;
	height:155px;

	.button{
		width:100px;
		height:130px;
		position:relative;
		z-index:3;

		.arrow-left, .more-icon{
			width:30px;
			height:30px;
		}
	}
	.meta{
			font-family:'Source Sans Pro', sans-serif;
			font-weight:normal;
			
		.album{
			font-size:18px;
			text-transform:uppercase;
			color:#9a9b9b;
		}
		.isReleased{
			font-size:24px;
			color:#fff;
			

		}
	}
	.missingIco{
		width:30px;
		height:30px;
	}
}